<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pekan testi</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<tr>
			<th>Start</th>
			<th>Finish</th>
			<th>Duration</th>
			<th>Quality</th>
		</tr>
		<tr th:each="period: ${sleepperiods}">
			<td th:text="${period.starttime} + ' |'"></td>
			<td th:text="${period.endtime} + ' |'"></td>
			<td th:text="${#dates.hour(period.duration)} + ' tuntia |'"></td>
			<td th:text="${period.sleepquality.sleepquality}"></td>
		</tr>
	</table>
</body>
</html>