<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" />
<head>
<title>Sleep Diary</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Sleep Diary</h1>
	<div>
		<h3>Filter</h3>
		<form class="form-inline" th:action="@{/sleepperiodsperday}"
			action="#" method="get">
			<label for="start-input" class="label">Start</label> <input
				class="form-control" type="date" value="2019-09-01" id="start-input"
				name="startTime"> <label for="end-input" class="label">End</label>
			<input class="form-control" type="date" value="2019-09-06"
				id="end-input" name="endTime">
			<button type="submit" class="btn btn-primary">Show</button>
		</form>
		<p>Gets all sleepperiods and comments starting between start-date
			12:00:00 and end-date 12:00:00</p>
	</div>
	<div>
		<table class="table table-striped">
			<tr>
				<th>Start</th>
				<th>Finish</th>
				<th>Duration</th>
				<th></th>
				<th></th>
			</tr>

			<tr th:each="period: ${sleepPeriods}">
				<td th:text="${period.startTime}"></td>
				<td th:text="${period.endTime}"></td>
				<td th:text="${period.duration} + ' hours'"></td>
				<td><a class="btn btn-danger">Delete</a></td>
				<td><a class="btn btn-info">Edit</a></td>
			</tr>
		</table>
	</div>
	<h1>Comments</h1>
	<div>
		<table class="table table-striped">
			<tr>
				<th>Time</th>
				<th>Comment</th>
			</tr>
			<tr th:each="comment: ${comments}">
				<td th:text="${#dates.format(comment.commentDate, 'yyyy-MM-dd')}"></td>
				<td th:text="${comment.comment}"></td>
			</tr>
		</table>
	</div>
	<a class="btn btn-success">Add a new sleep period</a>

</body>
</html>